@import url(https://fonts.googleapis.com/css?family=PT+Serif);

*{
  box-sizing: border-box;
}

body {
  background-image: cover;
  color: #000;
  font-family: helvetica, sans-serif;
}

p{
  font-family: 'PT Serif', serif;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-width: 800px;
}

h1 {
  font-size: 100px;
  text-align: center;
  
  font-weight: bold; 
  color: #ff7900;
}

header {
  background: url("../images/homedesignstudio.jpg") no-repeat center center scroll;
  background-size: cover;
  padding-bottom: 250px;
  padding-top: 250px;

}

nav {
  background-color: #aaaaaa;
  font-family: Arial, sans-serif;
  float: right;
}

a {
  background-color: #ff7900;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 20px;
}

.important {
  text-align: center;
  padding-bottom: 150px;
  background-color: #ff7900;
  
}

.important p {
  margin: 0 auto;
   width: 780px;

}

#slogan {
  text-align: center;
  font-size: 70px;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #fff;

}

.column {
  float: left;
  width: 300px;
  height: 330px;
  padding: 20px;
  margin: 0;
}

#column1 {
  background-color: #AC54FF;
}

#column2 {
  background-color: #5485FF;
}

#column3 {
  background-color: #47FFF2;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

#wrap {
  background-color: yellow;
  width: 900px;
  margin: auto;
}



